<!-- calendar.component.html -->
<div class="calendar">
  <div class="calendar-header">
      <button (click)="goToPreviousMonth()" class="buttons"> << </button>
      <h2>{{ calendarDates[7] | date: 'MMMM yyyy' }}</h2>
      <button (click)="goToNextMonth()" class="buttons"> >> </button>
  </div>
  <div class="calendar-body">
    <div class="calendar-dates">
        <div class="calendar-weekdays">
            <div *ngFor="let day of weekdays" class="weekday">{{ day }}</div>
        </div>
        <div *ngFor="let week of calendarWeeks" class="calendar-week">
            <div *ngFor="let date of week" class="calendar-date"
            [ngClass]="{
                'today': isToday(date),
                'selected': isSelected(date),
                'previous-month': isPreviousMonth(date),
                'next-month': isNextMonth(date),
              }"
              (click)="selectDate(date, week)">
                <p class="cursor-pointer">{{ date | date: 'd' }}</p>
                <div *ngFor="let hour of hours">
                    <ng-container *ngIf="(appointmentsByMonthDayAndHour$?.[currentMonth]?.[date.getDate()]?.[hour] | async) || [] as appointments">
                        <div *ngFor="let appointment of appointments"  matTooltip="{{ appointment.title }}" class="title-div">{{appointment.title }}</div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-events">
        <div class="add-appointment">
            <h4>Pick a slot to add/Edit an Appointment</h4>
        </div>
        <div class="calendar-appointment-weekdays">
            <div *ngFor="let day of weekdays" class="weekday">{{ day }}</div>
        </div>
        <div class="calendar-appointment-weekdays">
            <div *ngFor="let days of selectedWeek" class="calendar-week"> {{days | date: 'd'}}</div>
        </div>
        <div class="calendar-appointment-day">
            <div class="calendar-appointment-hours"  *ngFor="let days of selectedWeek">
                <div *ngFor="let hour of hours" class="hours" (click)="selectTimeSolt(hour, days)"
                [ngClass]="{'appointmentExist' : (appointmentsByMonthDayAndHour$?.[currentMonth]?.[days.getDate()]?.[hour] | async)?.[0]?.title}">
                    <ng-container *ngIf="(appointmentsByMonthDayAndHour$?.[currentMonth]?.[days.getDate()]?.[hour] | async) || [] as appointments">
                            <div *ngFor="let appointment of appointments" matTooltip="{{ appointment.title }}" class="title-div-for-hours">
                                {{appointment.title }}
                                <mat-icon class="deleteAppointment" matToolTip="'Delete'" (click)="deleteAppointment(currentMonth, days.getDate(), hour, appointment.id)">cancel</mat-icon>
                            </div>
                    </ng-container>
                </div>
            </div>
            <div class="calendar-appointment-time">
                <div *ngFor="let hour of hours; let i= index;">
                    {{i < 12 ? i+' AM' : i === 12 ? i+' Noon' : i-12+' PM'}} </div>
            </div>
        </div>
    </div>
    
  </div>
</div>
